<a class="teaser">
	<div class="teaser__img brick">
		<img src="http://placehold.it/300x200" alt="" class="responsive">
	</div>
	<div class="teaser__content brick">
		<h2 class="teaser__title">This is the teaser title</h2>
		<p class="teaser__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta tempore, inventore sint eius, asperiores, perspiciatis atque minima, fuga voluptatem quibusdam mollitia! Cupiditate consectetur veritatis accusantium, id ad consequatur ab voluptate.</p>
	</div>
</a>